#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDD_MAIN DIALOGEX 0, 0, 420, 275
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "NXConvert"
FONT 9, "Segoe UI"
BEGIN

    LTEXT       "Input File:", -1, 8,8,70,10
    EDITTEXT    IDC_INPUT,8,20,315,14,ES_AUTOHSCROLL
    PUSHBUTTON  "Browse...",IDC_INPUT_BROWSE,330,19,80,16

    LTEXT       "Output Folder:",-1,8,44,70,10
    EDITTEXT    IDC_OUTPUT,8,56,315,14,ES_AUTOHSCROLL
    PUSHBUTTON  "Browse...",IDC_OUTPUT_BROWSE,330,55,80,16

    LTEXT       "Keys File:",-1,8,80,70,10
    EDITTEXT    IDC_KEYS,8,92,315,14,ES_AUTOHSCROLL
    PUSHBUTTON  "Browse...",IDC_KEYS_BROWSE,330,91,80,16

    CONTROL     "Overwrite Existing",
                IDC_OVERWRITE,
                "Button",
                BS_AUTOCHECKBOX | WS_TABSTOP,
                8,116,140,12

    CONTROL     "",
                IDC_PROGRESS,
                PROGRESS_CLASS,
                WS_BORDER | WS_VISIBLE,
                8,136,402,14

    EDITTEXT    IDC_LOG,
                8,156,402,82,
                ES_MULTILINE |
                ES_AUTOVSCROLL |
                ES_READONLY |
                WS_VSCROLL |
                WS_BORDER

    DEFPUSHBUTTON "Convert",
                  IDC_CONVERT,
                  240,246,80,20

    PUSHBUTTON "Cancel",
               IDC_CANCEL,
               330,246,80,20

END
